body {
    
    height: 100vh;
    background-color: rgb(39, 190, 39);
}
input, button {  
    padding: 10px;
    width: -webkit-fill-available;
    border-radius: 5px;
}
button {
    cursor: pointer; 
}
input {
    border: none;
    margin-top: 5px;
}
form {
    width: 300px;
}
.caixa-email {
    margin-bottom: 10px;
}
.caixa-senha {
    margin-bottom: 10px;
}